.info-about-contact{
    width: 70%;
    height: 60px;
    padding: 15px;
    color: rgb(239, 254, 255);
    border: 3px solid whitesmoke;
    border-radius: 30px;
    margin:2% 0 2% 0;
    display: flex;
    flex-direction: column;
}

.phone{
    margin-top: 3%;
}

.name-and-gender{
    font-size: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

